<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Twitterアプリ</title>
<th:block th:insert="fragments/base :: head"></th:block>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<th:block th:insert="fragments/base :: login_header"></th:block>
		</div>
		<div id="cont">

			<form method="post" th:action="@{/channel_create}" novalidate>
				<div class="form-group">
					<label for="title">チャンネル名</label> <input type="text"
						th:errorclass="is-invalid" th:field="${channel.title}"
						class="form-control">
					<div class="invalid-feedback" th:errors="${channel.title}"></div>
					<br>
				</div>
				<div class="form-group">
					<label for="comment">コメント</label>
					<textarea th:field="${article.content}" class="form-control"
						th:errorclass="is-invalid" rows="3"></textarea>
					<div class="invalid-feedback" th:errors="${article.content}"></div>
				</div>
				<button type="submit" class="btn btn-primary">登録</button>
			</form>
			<br> <a
				th:href="@{/channelIndex{id}(id=${sessionService.getTargetDramaComponent().getDrama().id})}">[[${sessionService.getTargetDramaComponent().getDrama().name}]]のチャンネル一覧に戻る</a>


		</div>
	</div>
	<div id="footer">
		<th:block th:insert="fragments/base :: footer"></th:block>
	</div>

</body>
</html>